<html>
  <head>
    <title>中超联赛 {{year}}</title>
  </head>
  <body>
    <h1>CSL {{year}}</h1>
    <ul>
    {{#each teams as |t| }}
      <li class="{{ranking_label @index ../teams}}">
      {{~log @index~}}
      {{!-- I'm comment --}}
      <b>{{t.name}}</b>: {{format t.pts ~}}
      </li>
    {{/each}}
    </ul>

    <p>Rendered by Handlebars from {{engine}} data.</p>
  </body>
</html>
